/.idea/
*/__pycache__
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
/recell/vector_data
/*/*/__pycache__
/*/*/*/__pycache__
/*/*/*/*/__pycache__
/*/*/*/*/*/__pycache__
.ipynb_checkpoints
featurizer/data/best_model_ckpt
featurizer/data/__MACOSX
featurizer/data/best_model_ckpt.zip
public/bert_wwm_pretrain/data/chinese_bert_wwm
featurizer/.DS_Store
__pycache__
.idea

