/.idea/
*/__pycache__
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
/recell/vector_data
/*/*/__pycache__
/*/*/*/__pycache__
/*/*/*/*/__pycache__
/*/*/*/*/*/__pycache__
.ipynb_checkpoints
featurizer/data/*
