asyncpg==0.25.0
deepctr_torch==0.2.7
elasticsearch==7.5.1
faiss-gpu==1.7.2
fake_useragent==0.1.11
fastapi==0.75.2
hanlp==2.1.0b27
happybase==1.2.0
itemadapter==0.5.0
jieba==0.42.1
loguru==0.6.0
numba==0.53.1
numpy==1.19.5
pandas==1.0.4
pydantic==1.9.0
pymongo==3.12.1
pyTelegramBotAPI==4.5.0
redis==4.0.2
requests==2.24.0
scikit_learn==1.0.2
scipy==1.4.1
scrapy==2.6.1
starlette==0.17.1
tornado==6.1
transformers==4.15.0
